<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.Ballygorey.Diadochokinetic_Assess.SupportTheDev</key>
	<string>🍩</string>
	<key>com.Ballygorey.Diadochokinetic_Assess.SupportTheDev2</key>
	<string>🍹</string>
	<key>com.Ballygorey.Diadochokinetic_Assess.SupportTheDev3</key>
	<string>🍔🍟</string>
</dict>
</plist>
